@{
    ViewData["Title"] = "Home Page";
}

<label>message</label>
<input id="message" placeholder="msg"/>
<input id="groupName" placeholder="group name"/>
<input id="conId" placeholder="connection id"/>
<button id="join">join</button>
<button id="send">send</button>
<ul id="messagesList"></ul> 